@model PreSemesterProject.Models.Opportunity

<div class="container">
    <h2 class="entity-header">Add a New Opportunity</h2>
    <form asp-action="Create" method="post">
        <div class="row">
            <div class="col-6">
                <label asp-for="Title" class="form-label">Title</label>
                <input asp-for="Title" type="text" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Location" class="form-label">Location</label>
                <select asp-for="Location" asp-items="Html.GetEnumSelectList<PreferredCenter>()" class="form-control">
                    <option>Select location</option>
                </select>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Date" class="form-label">Date & Time</label>
                <input asp-for="Date" type="datetime-local" class="form-control">
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-12">
                <label asp-for="Description" class="form-label">Description</label>
                <textarea asp-for="Description" rows="6" class="form-control" placeholder="Maximum of 2000 characters"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <div class="button-options" style="margin-top: 10px;">
            <button type="submit" asp-action="Create" class="btn btn-outline-info">Create Opportunity</button> 
            <button asp-action="Index" class="btn btn-outline-danger">Back</button>
        </div>
    </form>
</div>
