@model PreSemesterProject.Models.Opportunity

    <div class="container">Edit Opportunity: @Model.OpportunityID</div>
    <div class="container">
        <form asp-action="Edit" method="post">

        </form>
    </div>