/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* manually added style elements */

.action-box {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}

.action-box:hover {
    background-color: #eee;
}

.nav-options-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.nav-opportunity-option {
    border: 1px #6495ed solid;
    font-size: 14px;
    background-color: transparent;
    color: #6495ed;
    margin-left: 5px;
    padding: 10px 15px;
}

.nav-opportunity-option:nth-child(1) {
    margin-left: 0;
}

.nav-opportunity-option:hover {
    background-color: #6495ed;
    color: white;
    cursor: pointer;
}

.opportunities-table {
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    margin-top: 20px;
}

.opportunities-table td, .opportunities-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.opportunities-table tr:nth-child(even) {
    background-color: #f2f2f2;

}

.opportunities-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #6a64ed;
        color: white;
}

.opportunity-options {
    display: flex;
    gap: 5px;
}