@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <a asp-controller="Volunteers" asp-action="Index" class="col">
            <div class="action-box">Manage Volunteers</div>
        </a>
        <div class="col-1"></div>
        <a asp-controller="Opportunities" asp-action="Index" class="col">
            <div class="action-box col">Manage Opportunities</div>
        </a>
</div>
</div>
