@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <a asp-controller="Volunteers" asp-action="Index" class="col" style="text-decoration: none">
            <div class="index-option-box">Manage Volunteers</div>
        </a>
        <div class="col-1"></div>
        <a asp-controller="Opportunities" asp-action="Index" class="col" style="text-decoration: none">
            <div class="index-option-box">Manage Opportunities</div>
        </a>
    </div>
</div>
