@model PreSemesterProject.Models.Volunteer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">Create Volunteer</div>
<div class="container">
    <form asp-action="Create" method="post">
    </form>
</div>